/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.flexin {
  display: flex;
  justify-content: center;
  align-content: center;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 1100px;
  height: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width: 500px) {
  .container {
    width: 500px;
    height: auto;
  }
}
.container img {
  width: 25%;
}
.container h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
header,
footer {
  text-align: center;
  background-color: #82b2f4;
}
header h1,
footer h1 {
  font-size: 2rem;
  margin-bottom: 0.75%;
}
header p,
footer p {
  margin: 0.5% 0;
}
.about {
  display: flex;
  justify-content: center;
  align-content: center;
}
.about .self-image,
.about .self-bio {
  width: 40%;
  margin: 3% 5%;
}
@media (max-width: 500) {
  .about .self-image,
  .about .self-bio {
    width: 20%;
  }
}
.about p {
  padding: 1%;
}
.skills h2 {
  text-align: center;
}
.skills ol {
  margin-left: 5%;
  list-style-type: circle;
}
.skills ol li {
  padding: 1%;
}
.work-exp h2 {
  text-align: center;
}
.work-exp ol {
  margin-left: 5%;
  list-style-type: circle;
}
.work-exp ol li {
  padding: 1%;
}
.education {
  display: flex;
  justify-content: center;
  align-content: center;
}
.education .edu-pic {
  width: 40%;
  margin: 3% 5%;
  order: -1;
}
.education .edu-info {
  width: 40%;
  margin: 3% 5%;
  order: 2;
}
.education .edu-info ul li {
  padding: 1.25%;
}
.portfolio {
  width: 40%;
  margin-left: 2%;
}
.portfolio .port-info p {
  padding: 1%;
  margin-bottom: 2%;
}
.portfolio .port-info button {
  background-color: white;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  padding: 1%;
  margin-left: 2%;
  margin-top: 2%;
}
.portfolio .port-info button a {
  text-decoration: none;
}
.portfolio .port-info button:hover {
  background-color: #ee96cb;
}
